.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  background-color: transparent;
  position: fixed;
  margin-bottom: 15px;
  display: flex;
  justify-content: end;
  width: 100%;
}

.nav-bar {
  color: white;
}

// .container-fluid {
//   width: 100%;
// }
